<footer
	class="bg-gradient-to-b py-12 fbg-gradient-to-b from-secondary/50  to-primary h-[70px] z-10 shadow-2xl shadow-gray-950 w-full flex flex-col items-center justify-center"
>
	<p class="text-text-light font-bold text-xl" >AstroTalks 2025</p>
	<p class="text-text-light font-bold text-xl">Hecho con ❤️ por Abraham Borja</p>
</footer>

