---
interface Props {
    href: string;
    label: string;
    type?: string;
}
const { href, label, type } = Astro.props;
---

<li
    class="text-text-light text-lg font-medium px-3 py-2 rounded-md 
    hover:shadow-[0_0_20px_rgba(79,195,247,0.6),0_0_40px_rgba(79,195,247,0.4),0_0_60px_rgba(79,195,247,0.2)] 
    hover:text-shadow-[0_0_10px_rgba(79,195,247,0.8),0_0_20px_rgba(79,195,247,0.6)] hover:border hover:border-cyan-400 hover:bg-cyan-400/10 "
>
    <a class={type} href={href}>{label}</a>
</li>
