---
import TalkCard from "@/ui/components/TalkCard.astro";
import TalkCardShort from "@/ui/components/TalkCardShort.astro";
---

<section class="w-full h-[700px] py-8">
    <h2 class="text-3xl text-text-light font-bold text-center mb-8">Talks</h2>
    <div class="w-4/5 h-full grid grid-cols-5 gap-4 mx-auto grid-rows-3">
        <div class="col-span-3 row-span-2">
            <TalkCard tags={['astronomia']} title="Titulo de la exposicion" description="lorem ipsum" />
        </div>
        <div class="col-span-2 row-span-2">
            <TalkCard tags={['astronomia']} title="Titulo de la exposicion" description="lorem ipsum" />
        </div>
        <div class="col-span-3">
            <TalkCardShort tags={['astronomia']} title="Titulo de la exposicion" description="lorem ipsum" />
        </div>
        <div>
           <TalkCardShort tags={['astronomia']} title="Titulo de la exposicion" description="lorem ipsum" />
        </div>
        <div>
            <TalkCardShort tags={['astronomia']} title="Titulo de la exposicion" description="lorem ipsum" />
        </div>
    </div>
</section>