<section class="w-full my-32 h-[500px] bg-gray-800/90 backdrop-blur-lg">
    <div class="w-4/5 mx-auto py-8 h-full flex gap-4">
        <article class="rounded-tl-4xl overflow-hidden rounded-br-4xl border-2 border-primary w-full h-full bg-slate-700">
            <figure class="w-full h-2/5">
                <img src="/assets/images/user1.jpg" class="w-full h-full object-cover object-top" alt="">
            </figure>
            <div class="w-full h-3/5 flex flex-col justify-end gap-8 p-8">
                <h2 class="text-text-light text-2xl font-bold">Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea ratione neque vitae veritatis dolore quasi cupiditate nulla consectetur tenetur?</p>
                <div class="w-full flex justify-center">
                                <button>
                <span
                    class="border-primary border-2 px-4 py-2 rounded-full bg-primary/50 text-text-dark"
                    >Ver más</span
                >
            </button>
                </div>
            </div>
        </article>
                <article class="rounded-tl-4xl overflow-hidden rounded-br-4xl border-2 border-primary w-full h-full bg-slate-700">
            <figure class="w-full h-2/5">
                <img src="/assets/images/user1.jpg" class="w-full h-full object-cover object-top" alt="">
            </figure>
            <div class="w-full h-3/5 flex flex-col justify-end gap-8 p-8">
                <h2 class="text-text-light text-2xl font-bold">Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea ratione neque vitae veritatis dolore quasi cupiditate nulla consectetur tenetur?</p>
                <div class="w-full flex justify-center">
                                <button>
                <span
                    class="border-primary border-2 px-4 py-2 rounded-full bg-primary/50 text-text-dark"
                    >Ver más</span
                >
            </button>
                </div>
            </div>
        </article>
                <article class="rounded-tl-4xl overflow-hidden rounded-br-4xl border-2 border-primary w-full h-full bg-slate-700">
            <figure class="w-full h-2/5">
                <img src="/assets/images/user1.jpg" class="w-full h-full object-cover object-top" alt="">
            </figure>
            <div class="w-full h-3/5 flex flex-col justify-end gap-8 p-8">
                <h2 class="text-text-light text-2xl font-bold">Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea ratione neque vitae veritatis dolore quasi cupiditate nulla consectetur tenetur?</p>
                <div class="w-full flex justify-center">
                                <button>
                <span
                    class="border-primary border-2 px-4 py-2 rounded-full bg-primary/50 text-text-dark"
                    >Ver más</span
                >
            </button>
                </div>
            </div>
        </article>

    </div>
</section>

