---
import Button from '@/ui/components/Button.astro';

interface Props {
    tags: string[];
    title: string;
    description: string;
    large?: boolean;
}

const { tags, title, description, large = false } = Astro.props;
---

<article class="h-full relative p-[2px]">
    <figure class="h-full w-full overlay">
        <img
            src="/assets/images/background.jpg"
            class="h-full w-full object-cover"
            alt=""
        />
    </figure>
    <div class="absolute h-full flex flex-col items-start justify-between p-8 top-0 left-0">
        <div class="space-y-8">
            <h2 class="text-xl text-text-dark font-bold">
                {title}
            </h2>
        </div>
        <Button label="Ver maÌs" />
    </div>
</article>

<style>
    article {
        z-index: 1;
        clip-path: polygon(
            5% 0,
            95% 0,
            100% 5%,
            100% 95%,
            95% 100%,
            5% 100%,
            0 95%,
            0 5%
        );
    }
    figure {
        clip-path: polygon(
            5% 0,
            95% 0,
            100% 5%,
            100% 95%,
            95% 100%,
            5% 100%,
            0 95%,
            0 5%
        );
        overflow: hidden;
    }
    article::after {
        content: "";
        position: absolute;
        inset: -4px; /* grosor del borde */
        z-index: -1;
        background: rgba(255, 255, 255, 0.838);
        clip-path: polygon(
            5% 0,
            95% 0,
            100% 5%,
            100% 95%,
            95% 100%,
            5% 100%,
            0 95%,
            0 5%
        );
        border: 2px solid #9ca3af; /* color del borde */
        box-sizing: border-box;
        pointer-events: none;
    }
</style>
