        <nav class="breadcrumb">
            <a href="#inicio">Inicio</a>
            <span>></span>
            <a href="#conferencias">Conferencias</a>
            <span>></span>
            <span>El Telescopio James Webb</span>
        </nav>