---
interface Props {
    sectionTitle: string;
    copy: string;
    formTitle: string;
}
const { sectionTitle, copy, formTitle } = Astro.props
---

<section class="w-full py-8">
    <h2 class="text-3xl text-text-light font-bold text-center mb-8">
        {sectionTitle}
    </h2>
    <div class="w-4/5 h-full grid grid-cols-2 gap-4 mx-auto">
        <p class="text-text-light text-3xl">
            {copy}
        </p>
        <div class="rounded-lg bg-slate-800 p-8">
            <h2 class="text-3xl text-text-light text-center font-bold mb-4">
                {formTitle}
            </h2>
            <form class="flex flex-col justify-between gap-4 mt-8">
                <fieldset class="flex flex-col gap-2">
                    <label
                        class="text-text-light font-bold title text-lg uppercase"
                        for="name">Nombre</label
                    >
                    <input
                        class="px-4 py-2 rounded-lg bg-slate-700"
                        type="text"
                    />
                </fieldset>
                <fieldset class="flex flex-col gap-2">
                    <label
                        class="text-text-light font-bold title text-lg uppercase"
                        for="name">Email</label
                    >
                    <input
                        class="px-4 py-2 rounded-lg bg-slate-700"
                        type="text"
                    />
                </fieldset>
                <fieldset class="flex flex-col gap-2">
                    <label
                        class="text-text-light font-bold title text-lg uppercase"
                        for="name">Titulo</label
                    >
                    <input
                        class="px-4 py-2 rounded-lg bg-slate-700"
                        type="text"
                    />
                </fieldset>
                <fieldset class="flex flex-col gap-2">
                    <label
                        class="text-text-light font-bold title text-lg uppercase"
                        for="name">Description</label
                    >
                    <textarea rows="10" name="" id="" class="px-2 py-2 rounded-lg bg-slate-700" id="">Hablanos de ti
                    </textarea>
                </fieldset>
                <button type="submit">
                    <span
                        class="border-primary border-2 px-4 py-2 rounded-full bg-primary/50 text-text-dark"
                        >Quiero participar</span
                    >
                </button>
            </form>
        </div>
    </div>
</section>
