---
import Button from "@/ui/components/Button.astro";
import Input from "@/ui/components/Input.astro";
import TextArea from "@/ui/components/TextArea.astro";

interface Props {
    sectionTitle: string;
    copy: string;
    formTitle: string;
}
const { sectionTitle, copy, formTitle } = Astro.props;
---

<section class="w-full py-8">
    <h2 class="text-3xl text-text-light font-bold text-center mb-8">
        {sectionTitle}
    </h2>
    <div class="w-4/5 h-full grid grid-cols-2 gap-4 mx-auto">
        <p class="text-text-light text-3xl">
            {copy}
        </p>
        <div
            class="rounded-lg bg-slate-800/20 backdrop-blur-xl p-8 border-primary border-2"
        >
            <h2 class="text-3xl text-text-light text-center font-bold mb-4">
                {formTitle}
            </h2>
            <form class="flex flex-col justify-between gap-4 mt-8">
                <Input label="Nombre" />
                <Input label="Email" />
                <Input label="Telefono" />
                <TextArea
                    label="Descripcion"
                    rows={10}
                    placeholder="Escribe aqui tu propuesta"
                />
                <fieldset class="flex flex-col gap-2">
                    <label
                        class="text-text-light font-bold title text-lg uppercase"
                        for="name">quiero</label
                    >
                    <div class="flex flex-col gap-2">
                        <div>
                            <input type="radio" name="radio" id="postular">
                            <label class="title text-text-light text" for="postular">Postular una charla</label>
                        </div>
                        <div>
                            <input type="radio" name="radio" id="pregunta">
                            <label class="title text-text-light text" for="pregunta">Hacer una pregunta</label>
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" name="terminos" id="acepto">
                        <label class="title text-text-light text-xl" for="acepto">
                            Acepto los terminos y condiciones
                        </label>
                    </div>
                </fieldset>
                <div class="mt-12">
                    <Button label="Enviar" className="text-xl  px-8" />
                </div>
            </form>
        </div>
    </div>
</section>
